keil/build/debug/*
keil/build/release/*
keil/build/utest/*
*.bin
*.bak
*.Bak
*.swp
*.swo
*.lib
tags
src/**/makefile
inc/**/makefile
lib/**/makefile
keil/*.uvgui.*
*.dep
.idea/kybot_stm32f4_sw.iml
.idea/modules.xml
.idea/workspace.xml
cmake-build-debug/
keil/build/
keil/JLinkLog.txt
/CMakeCache.txt
/CMakeFiles/
mx/MDK-ARM/*.uvopt
mx/MDK-ARM/*.uvproj
*.tmp
OBJ
~*
